*.pth
*.pt
*.obj
*.ply
*.egg-info

third_party/estimator/hamer/_DATA
third_party/pytorch3d
third_party/Hunyuan3D-2
**/__pycache__/
*.so
*.egg-info/
dist/
build/
.eggs/
*.log
.ipynb_checkpoints/
.vscode/
.DS_Store
